# application configuration
/config/application.yml

# bundler
/.bundle

# database config
/config/database.yml

# logs
/log/*.log

# Mac OS X files
.DS_Store

# redis dump
/dump.rdb

# SQLite database(s)
/db/*.sqlite3
/db/*.sqlite3-journal

# tempfiles
/tmp
