<div class="account-wrapper">
  <div class="account-body">
    <h3>
      Sign Up
    </h3>
    <h4>
      Step 3 of 3: Create password
    </h4>
    <%= form_for(
        @sign_up,
        data: { parsley: "validate" },
        html: { class: "account-form form" },
        method: :put,
        url: sign_up_password_path(@sign_up)
      ) do |f|
    %>
      <%= f.hidden_field(
         :id,
         value: @sign_up.uuid
       )
      %>
      <div class="form-group">
        <label
          class="placeholder-hidden"
          for="password"
        >
          Password
        </label>
        <input
          class="form-control"
          data-required="change"
          id="password"
          name="password"
          placeholder="Your password"
          tabindex="1"
          type="text"
        />
      </div>
      <div class="form-group">
        <%= f.button(
            "Submit",
            class: "btn btn-block btn-lg btn-secondary",
            tabindex: "2",
            type: "submit"
          )
        %>
      </div>
    <% end %>
  </div>
</div>
