<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="content-body">
        <h1 class="text-center">
          New Job
        </h1>
        <br />
        <form class="form"
        role="form"
        >
          <div class="form-group">
            <label for="new_job_title">
              Title
            </label>
            <input class="form-control"
              id="new_job_title"
              type="text"
            >
          </div>
          <div class="form-group">
            <label for="new_job_body">
              Body
            </label>
              <textarea class="animated-vertical form-control"
                id="new_job_body"
                rows="10"
                style="resize:vertical"
              ></textarea>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button class="btn btn-lg btn-primary">
                 &nbsp;&nbsp;&nbsp;&nbsp;Submit &nbsp;&nbsp;&nbsp;&nbsp;
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
