<h1>
  New Job
</h1>
<form>
<label for="new_job_title">
  Title
</label>
<input
  id="new_job_title"
  type="text"
>
<label for="new_job_body">
  Body
</label>
<textarea class="animated-vertical"
  id="new_job_body"
  rows="10"
></textarea>
<button>
   &nbsp;&nbsp;&nbsp;&nbsp;Submit &nbsp;&nbsp;&nbsp;&nbsp;
</button>
