<% page_title("Job") %>

<div class="page page-type2">
  <%= image_tag(
      "plum5-152x152.png",
      alt: "Plumhire",
      class: "center-block img-responsive"
    )
  %>
  <h1>
    <%= @j.title %>
  </h1>
  <p>
    <%= @j.body %>
  </p>
</div>
