development:
  adapter: postgresql
  encoding: unicode
  database: plumhire_development
  pool: 5
  username: plumhire
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: plumhire_test
  pool: 5
  username: plumhire
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: plumhire_production
  pool: 5
  username: plumhire
  password:
