<div class="account-wrapper">
  <div class="account-body">
    <h3>
      <%= "Hey #{@s.email}," %>
    </h3>
    <h4>
      Check your email
      <i class="fa fa-smile-o"></i>
    </h4>
  </div>
</div>
