<% page_title("Sign up") %>

<div class="page page-type1">
   <%= image_tag(
        "plum2-152x152.png",
        alt: "Plumhire",
        class: "center-block img-responsive"
      )
    %>
  <h1>
    Please check your email
    <span class="fa fa-smile-o"></span>
  </h1>
</div><!-- page -->
