<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <p>
      <%= "Hi #{@sign_up.email}!" %>
    </p>
    <p>
      You got this email.  Sweet!  Now all you need is a password, which you can create here:
    </p>
    <p>
      <%= edit_sign_up_password_url(@sign_up) %>.
    </p>
    <p>
      Thanks!<br />
      -Michael
    </p>
  </body>
</html>
