<%= image_tag("text_logo-705×189.png") %>
<h1>
  A simple, intuitive applicant tracking system
</h1>
<h1>
  <a href="">
    Sign in
  </a>
  &nbsp;|&nbsp;
  <%= link_to(
    "Sign up",
    new_sign_up_email_path
    )
  %>
</h1>
