<div class="content front-page">
  <%= image_tag(
      "text_logo-705×189.png",
      alt: "Plumhire",
      class: "center-block img-responsive"
    )
  %>
  <div class="text-center">
    <br />
    <br />
    <h1>
      A simple, intuitive applicant tracking system
    </h1>
    <br />
    <br />
    <h1>
      <a href="">
        Sign in
      </a>
      &nbsp;|&nbsp;
      <%= link_to(
        "Sign up",
        new_sign_up_email_path
        )
      %>
    </h1>
  </div>
</div>
